:root {
    /* Bootstrap-like colors */
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-danger: #dc3545;
    --bs-warning: #ffc107;
    --bs-info: #0dcaf0;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    /* Moorhen specific colors */
    --moorhen-primary: var(--bs-dark);
    --moorhen-background: #fff;
    --moorhen-border: #ced4da;
    --moorhen-focus: #86b7fe;
    --moorhen-input-background: rgba(219, 219, 219, 0.075);
    --moorhen-error: var(--bs-danger);
    --moorhen-disabled: var(--bs-secondary);
    --moorhen-input-color: #212529;
    
    /* Shadow colors */
    --moorhen-focus-shadow: rgba(46, 112, 211, 0.25);
    --moorhen-error-shadow: rgba(161, 53, 98, 0.25);
}