.moorhen__stack,
.moorhen__stack__row,
.moorhen__stack__column {
    display: flex;
    width: 100%;
}
.moorhen__stack__row {
    flex-direction: row;
}
.moorhen__stack__column {
    flex-direction: column;
}
