@import "../../../colors.css";

.moorhen__accordion-container {
    margin: 0.2rem;
    border-top: 1px solid var(--moorhen-border);
    margin-bottom: 0.5rem;
}

.moorhen__accordion-container-card {
    border: 1px solid var(--moorhen-border);
    border-radius: 0.3rem;
}

.moorhen__accordion-header {
    background-color: var(--moorhen-background-header-secondary);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.moorhen__accordion-header-card {
    background-color: var(--moorhen-background-header);
    border-radius: 0.3rem 0.3rem 0 0;
    height: 2.5rem;
}

.moorhen__accordion-header-card.moorhen__accordion-closed {
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.moorhen__accordion-title {
    text-align: left;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.moorhen__accordion-control-panel {
    display: flex;
    flex-shrink: 0;
    align-items: right;
    justify-content: flex-end;
    gap: 8px;
}

.moorhen__accordion-toggle-open {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.moorhen__accordion-toggle-close {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.moorhen__accordion-content-shown {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    overflow: hidden;
    padding: 0.5rem 0.4rem 0rem 0.5rem;
}

.moorhen__accordion-content-hidden {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition:
        grid-template-rows 0.2s ease-out,
        opacity 0.2s ease-out;
}

.moorhen__accordion-content-shown {
    display: grid;
    grid-template-rows: 1fr;
    opacity: 1;
    transition:
        grid-template-rows 0.2s ease-out,
        opacity 0.2s ease-out;
}

.moorhen__accordion-content-hidden > *,
.moorhen__accordion-content-shown > * {
    overflow: hidden;
}
