**/*.a
**/*.cmake
**/*.ent
**/*.mtz
**/*.pdb
**/*.wasm
**/CMakeCache.txt
**/CMakeFiles
**/config.h
**/Makefile
**/monomers
/a.out.js
/bin
/boost
/boost-src-prefix
/ccp4srs/*.js
/ccp4srs/ccp4srs.*
/checkout
/coot/bfactan.js
/coot/coot_env.js
/coot/data
/coot/dynamic_read_lib.js
/coot/moorhen.data
/coot/moorhen.js
/coot/moorhen.worker.js
/coot/rama-data.js
/coot/rama-doughnut.js
/coot/test-molecules-container.js
/coot/test-molecules-container.worker.js
/example/ccp4_example.js
/example/superpose.js
/gesamt/gesamt.js
/gesamt/rvapi
/glm
/gsl-2.7.1
/include
/install_manifest.txt
/lib
/privateer/privateer.js
/share
/web_example/chart.js
/web_example/papaparse.min.js
/web_example/RDKit_minimal.js
/web_example/web_example.js
coot/density_fit_analysis-test.js
coot/fix-nomenclature.js
coot/mini-rsr-web.data
coot/mini-rsr-web.js
coot/mini-rsr-web.worker.js
coot/mini-rsr.js
coot/mini-rsr.worker.js
tests/moorhen.data
install/*

