.moorhen__todo-container {
    position: absolute;
    top: 0;
    right: -295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-left: 1px solid var(--moorhen-border);
    background-color: var(--moorhen-background);
    border-radius: 0rem;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
}

.moorhen__todo-container--visible {
    transform: translateX(-300px);
}

.moorhen__todo-container-toggle-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
}

.moorhen__todo-container-toggle-button--visible {
    transform: translateX(-300px);
}

.moorhen__edge-panel-sequence-viewer {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    border-top: 1px solid var(--moorhen-border);
    border-radius: 0rem;
    background-color: var(--moorhen-background);
    box-shadow: 0px 3px 5px 2px var(--moorhen-focus-shadow);
    width: 100%;
    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.moorhen__edge-panel-sequence-viewer--side-panel-visible {
    width: calc(100% - 300px);
}
