.moorhen__panel-container {
    position: absolute;
    top: 0;
    right: var(--side-panel-translate);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0rem;
    border-left: 1px solid var(--moorhen-border);
    background-color: var(--moorhen-background);
    border-radius: 0rem;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
}

.moorhen__panel-container--visible {
    transform: translateX(var(--side-panel-translate));
}

.moorhen__panel-container-toggle-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
}

.moorhen__panel-container-toggle-button--visible {
    transform: translateX(var(--side-panel-translate));
}
