@import "../../../../colors.css";
@import "../../../../z-indexes.css";

.moorhen__edge-panel-sequence-viewer {
    border: none;
    border-radius: 0rem;
    background-color: var(--moorhen-background);
    /* box-shadow: 0px 3px 5px 2px var(--moorhen-focus-shadow); */
    width: 100%;
    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

/* .moorhen__edge-panel-sequence-viewer--side-panel-visible {
    width: calc(100% - 300px);
} */

.moorhen__sequence-panel-container {
    position: absolute;
    height: 77px;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--moorhen-border);
    border-radius: 0rem;
    background-color: var(--moorhen-background);
    box-shadow: 0px 3px 5px 2px var(--moorhen-focus-shadow);
    width: 100%;
    transition:
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0px);
    user-select: none;
}

.moorhen__sequence-panel-tab {
    position: absolute;
    bottom: 76px;
    min-width: 10rem;
    padding: 0.5rem;
    height: 2rem;
    border: 1px solid var(--moorhen-border);
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: var(--z-side-panels);
    background-color: var(--moorhen-background);
    transition:
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        bottom 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        left 0.6s cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moorhen__sequence-panel-button {
    border: none;
    border-radius: 1rem;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--moorhen-primary);
}

.moorhen__sequence-panel-button:hover {
    box-shadow: 0px 0px 0px 4px var(--moorhen-focus-shadow);
}
.moorhen__sequence-panel-tab-panel-is-hidden {
    transform: translateY(75px);
}
