@import "../../colors.css";

.moorhen__icon,
.moorhen__icon-spinner {
    display: block;
    width: 100%;
    height: 100%;
    stroke: currentColor;
    fill: currentColor;
}

.moorhen__icon__small {
    color: inherit;
    width: 22px;
    height: 22px;
}

.moorhen__icon__medium {
    color: inherit;
    width: 32px;
    height: 32px;
}

.moorhen__icon__large {
    color: inherit;
    width: 64px;
    height: 64px;
}

.moorhen__icon__accordion {
    color: inherit;
    width: 24px;
    height: 24px;
}

.moorhen__icon__active {
    cursor: pointer;
}

.moorhen__icon__inactive {
    color: var(--moorhen-inactive);
}

.moorhen__icon__active:hover {
    filter: drop-shadow(0 0 0.1rem var(--moorhen-focus)) drop-shadow(0 0 0.2rem var(--moorhen-focus-shadow));
    transition: filter 0.15s ease-in;
}

.moorhen__icon__active.hover {
    filter: drop-shadow(0 0 0.1rem var(--moorhen-focus)) drop-shadow(0 0 0.2rem var(--moorhen-focus-shadow));
    transition: filter 0.15s ease-in;
}

.moorhen__icon__menu {
    width: 30px;
    height: 30px;
}

.moorhen__icon-spinner {
    animation: moorhen-spinner-spin 1s linear infinite;
}

@keyframes moorhen-spinner-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
