@import "../../../colors.css";

.moorhen__grid {
  display: grid;
}

.moorhen__grid-table-cell {
  /* border: 1px solid var(--moorhen-border); */
  padding: 0.8rem;
  background-color: var(--moorhen-background);
}

.moorhen__grid-table-cell--alternate {
  background-color: var(--moorhen-background-header);
}

.moorhen__grid-table-cell--header {
  font-weight: bold;
  font-style: italic;
}