.moorhen__stack,
.moorhen__stack__row,
.moorhen__stack__column {
    box-sizing: border-box;
    display: flex;
    width: auto;
    flex: 1;
    font-family: var(--moorhen-font-family);
}
.moorhen__stack__row {
    flex-direction: row;
}

.moorhen__stack__column {
    flex-direction: column;
}

.moorhen__stack_margins {
    margin: 1rem;
}

.moorhen__stack_card {
    width: auto;
    flex: 1;
    border: 1px solid var(--moorhen-border);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding-bottom: 1.5rem;
}

.moorhen__input-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, auto 1fr);
    gap: 0.5rem 1rem;
    align-items: center !important;
    width: auto;
    font-family: var(--moorhen-font-family);
}

.moorhen__input-grid > .moorhen__stack__row {
    display: contents;
}
.moorhen__stack__column > hr {
    border: none;
    border-top: 1px solid var(--moorhen-border);
    margin: 1rem 0;
    opacity: 1;
}
