:root {
    /* Moorhen specific colors */
    --moorhen-primary: #212529;
    --moorhen-secondary: #f8f9fa;
    --moorhen-background: #f7f7f7;
    --moorhen-background-header: #e6e6e6;
    --moorhen-background-header-secondary: #c3c3c3;
    --moorhen-border: #898f96;
    --moorhen-input-background: rgb(255, 255, 255);
    --moorhen-accent: #0d6efd;
    --moorhen-focus: #86b7fe;
    --moorhen-middle: #d3d3d3;
    --moorhen-error: #dc3545;
    --moorhen-disabled: #6c757d;
    --moorhen-danger: #ca3f3f;
    --moorhen-warning: #ffc107;

    /* Button */
    --moorhen-button-background: #4578c4;
    --moorhen-button-background-secondary: #7387a5;
    --moorhen-button-text: var(--moorhen-secondary);

    /* Shadow colors */
    --moorhen-shadow-shape: 2px 2px 4px 1px;
    --moorhen-focus-shadow: rgba(46, 112, 211, 0.25);
    --moorhen-error-shadow: rgba(161, 53, 98, 0.25);
    --moorhen-inactive-shadow: rgba(0, 0, 0, 0.1);

    /* Icon brightness */
    --moorhen-icon-brightness: 0.15;
    --moorhen-shadow-focus-style: 2px 2px 4px 3px var(--moorhen-focus-shadow);

    --moorhen-font-family: Inter, sans-serif;
}

[data-theme="dark"] {
    /* Moorhen specific colors for dark theme */
    --moorhen-primary: #dddddd;
    --moorhen-background: #2c2e30;
    --moorhen-background-header: #606060;
    --moorhen-border: #c6cfd8;
    --moorhen-input-background: rgba(255, 255, 255, 0.1);
    --moorhen-disabled: #6c757d;

    /* Shadow colors for dark theme */
    --moorhen-focus-shadow: rgba(13, 110, 253, 0.25);
    --moorhen-error-shadow: rgba(220, 53, 69, 0.25);
    --moorhen-inactive-shadow: rgba(255, 255, 255, 0.15);

    /* Icon brightness */
    --moorhen-icon-brightness: 0.9;
}
