@import "../../../colors.css";

.moorhen__representation-chip {
    padding: 0.5rem;
    border: 2px solid var(--moorhen-border);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 320px;
    max-height: 60px;
}
