@import "../../../colors.css";

.moorhen__representation-chip {
    padding: 0.5rem;
    border: 1px solid var(--moorhen-border);
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-inactive-shadow);
    max-width: 320px;
    max-height: 60px;
}

.moorhen__representation-chip-strike-box {
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: 1px solid var(--moorhen-border);
    padding: 0.1rem;
}

.moorhen__representation-chip-strike-box::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: rotate(-25deg);
}
