@import "../../../colors.css";

.moorhen__representation-chip {
    padding: 0.5rem;
    border: 1px solid var(--moorhen-border);
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-inactive-shadow);
    max-width: 320px;
    max-height: 60px;
}
