.scrollContainer{
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: scroll;
  background: gray;
  overscroll-behavior:contain;
  -webkit-overflow-scrolling: auto;
  z-index: 0;
}

.scrollContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollContainer::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.largeContainer{
  overflow: hidden;
  position: relative;
  //height: 100vh;
  //width: 100vw;
}
