@import "../../colors.css";

.moorhen__menu-item,
.moorhen__menu-item-disabled {
    all: unset;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    min-height: 2.4rem;
    height: fit-content;
    text-align: left;
    padding-left: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--moorhen-background);
}

.moorhen__menu-item-disabled {
    color: var(--moorhen-disabled);
}

.moorhen__menu-item-selected {
    background: color-mix(in srgb, var(--moorhen-focus) 20%, var(--moorhen-background));
    border: 1px solid var(--moorhen-border);
}

.moorhen__menu-item:hover {
    background: color-mix(in srgb, var(--moorhen-focus) 20%, var(--moorhen-background));
    border: 1px solid var(--moorhen-border);
}

.moorhen__menu-item-popover {
    position: fixed;
    top: 0;
    left: 550px;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--moorhen-border);
    background: var(--moorhen-background);
    z-index: 1000;
}

.moorhen__menu-item-popover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.7rem;
    transform: translateY(-50%);
    border-width: 0.7rem 0.7rem 0.7rem 0;
    border-style: solid;
    border-color: transparent var(--moorhen-border) transparent transparent;
    display: block;
}

.moorhen__menu-item-popover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.6rem;
    transform: translateY(-50%);
    border-width: 0.6rem 0.6rem 0.6rem 0;
    border-style: solid;
    border-color: transparent var(--moorhen-background) transparent transparent;
    display: block;
}

.moorhen__menu-item-popover.right-arrow::after {
    left: auto;
    right: -0.7rem;
    border-width: 0.7rem 0 0.7rem 0.7rem;
    border-color: transparent transparent transparent var(--moorhen-border);
}
.moorhen__menu-item-popover.right-arrow::before {
    left: auto;
    right: -0.6rem;
    border-width: 0.6rem 0 0.6rem 0.6rem;
    border-color: transparent transparent transparent var(--moorhen-background);
}
