.moorhen__stack,
.moorhen__stack__row,
.moorhen__stack__column {
    box-sizing: border-box;
    display: flex;
    width: auto;
    flex: 1;
    min-width: 0;
}
.moorhen__stack__row {
    flex-direction: row;
}

.moorhen__stack__column {
    flex-direction: column;
}

.moorhen_stack_card {
    width: auto;
    flex: 1;
    min-width: 0;
    border: 1px solid var(--moorhen-border);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
