# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/dev-dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/public/wasm
/public/tutorials/moorhen-tutorial-map-number-1.mtz
/public/tutorials/moorhen-tutorial-structure-number-1.pdb
/public/baby-gru/wasm
/public/baby-gru/tutorials/moorhen-tutorial-map-number-1.mtz
/public/baby-gru/tutorials/moorhen-tutorial-structure-number-1.pdb
baby-gru/public/baby-gru/CootWorker.js
/src/WebGL
/monomers
/public/MoorhenAssets/wasm/*
/public/MoorhenAssets/data.tar.gz
/public/MoorhenAssets/Components-inchikey.ich
/public/MoorhenAssets/pixmaps/lhasa_icons

# Ignore PWA related files
/dev-dist
.vscode
