@import "../../../colors.css";

.moorhen__selector-container {
    display: flex;
    flex-direction: column;
    width: 12rem;
    gap: 0.2rem;
}

.moorhen__selector {
    border: 1px solid var(--moorhen-border);
    background-color: var(--moorhen-background);
    border-radius: 0.2rem;
    width: 100%;
    height: 2.2rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.moorhen__selector:hover {
    box-shadow: 2px 2px 4px 3px var(--moorhen-focus-shadow);
}
