@import "../../../colors.css";

.moorhen__button__icon-only {
    padding: 0;
    min-width: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

.moorhen__button__default,
.moorhen__button__toggle-checked,
.moorhen__button__toggle-unchecked {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2.2rem;
    padding: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.1rem;
    color: var(--moorhen-secondary);
    background: var(--moorhen-button-background);
    border: 1px solid var(--moorhen-border);
    border-radius: 0.25rem;
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-inactive-shadow);
    cursor: pointer;
    box-sizing: border-box;
    font-family: var(--moorhen-font-family);
    transition:
        box-shadow 0.5s ease,
        border-color 0.5s ease,
        filter 0.5s ease;
}

.moorhen__button__toggle-unchecked {
    background: var(--moorhen-background);
    color: var(--moorhen-primary);
}
.moorhen_button-variant-danger {
    background: var(--moorhen-danger);
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-error-shadow);
}

.moorhen_button-variant-secondary {
    background: var(--moorhen-button-background-secondary);
}

.moorhen_button-variant-outlined {
    color: var(--moorhen-primary);
    background: none;
    box-shadow: none;
}

.moorhen_button-variant-white {
    color: var(--moorhen-primary);
    background: none;
    box-shadow: none;
    border: none;
}

.moorhen__button__default:hover {
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-focus);
    border-color: var(--moorhen-secondary);
    filter: brightness(1.1);
}
