@import "../../../colors.css";

.moorhen__button__icon-only {
    padding: 0;
    min-width: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.moorhen__button__default {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.1rem;
    color: var(--moorhen-secondary);
    background: var(--moorhen-button-background);
    border: 1px solid var(--moorhen-border);
    border-radius: 0.25rem;
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-inactive-shadow);
}

.moorhen__button__default:hover {
    box-shadow: var(--moorhen-shadow-shape) var(--moorhen-hover-shadow);
}
