@import "../../colors.css";

.moorhen__scrollbar {
    width: 12px;
    background-color: var(--moorhen-background);
    margin: 0px;
}

.moorhen__custom__scrollbar-track {
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 12px;
    background: var(--moorhen-middle);
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--moorhen-border);
    margin: 2px;
}

.moorhen__custom__scrollbar-thumb {
    position: relative;
    top: -1px;
    height: 12px;
    background: var(--moorhen-focus);
    border: 1px solid var(--moorhen-accent);
    border-radius: 6px;
    cursor: grab;
    margin: 0px;
}

.moorhen__custom__scrollbar-thumb:hover {
    box-shadow: 0 0 4px 8px var(--moorhen-focus-shadow);
}

.moorhen__custom__scrollbar-thumb-dragging {
    box-shadow: 0 0 4px 8px var(--moorhen-focus-shadow);
}
