@import "../../../z-indexes.css";
@import "../../../colors.css";

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.moorhen__panel-container {
    position: absolute;
    top: 0;
    height: 100%;
    right: var(--side-panel-translate);
    display: flex;
    flex-direction: row;
    gap: 0rem;
    border-left: 1px solid var(--moorhen-border);
    background-color: var(--moorhen-background);
    border-radius: 0rem;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
    user-select: none;
    z-index: var(--z-side-panels);
}

.moorhen__panel-container--visible {
    transform: translateX(var(--side-panel-translate));
}

.moorhen__side-panel-tabs-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: 4rem;
    right: -1px;
    z-index: calc(var(--z-side-panels) + 1);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
}

.moorhen__panel-container.no_animation,
.moorhen__side-panel-tabs-container.no_animation {
    transition: none !important;
}

.moorhen__side-panel-tabs-container.visible {
    transform: translateX(var(--side-panel-translate));
}

.moorhen__panel-container-toggle-button {
    border: 1px solid var(--moorhen-border);
    background: var(--moorhen-background-shaded);
    width: 2.2rem;
    border-radius: 1rem 0 0 1rem;
    cursor: pointer;
    color: var(--moorhen-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moorhen__panel-container-toggle-button.visible {
    border-right: none;
    background: var(--moorhen-background);
}

.moorhen__panel-container-toggle-button-hint-label {
    position: absolute;
    z-index: var(--z-tooltip);
    right: 2.3rem;
    font-size: 1.2rem;
    background: var(--moorhen-background);
    border: 1px solid var(--moorhen-border);
    padding: 0.5rem;
    border-radius: 0.4rem;
    animation: slideInFromRight 0.1s ease-out;
}

.moorhen__panel-container-toggle-button:hover {
    box-shadow: var(--moorhen-focus-shadow) -5px 0px 5px;
    border-color: var(--moorhen-focus);
}

.moorhen__panel-inner-container-title-bar {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    background: var(--moorhen-background-header);
    /* border-bottom: 1px solid var(--moorhen-border); */
}

.moorhen__panel-inner-container {
    height: 100%;
    overflow-x: auto;
}

.moorhen__side-panel-resize-button {
    all: unset;
    width: 5px;
    min-width: 5px;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
    transition:
        background-color 0.2s ease,
        width 0.2s ease;
    position: relative;
}

.moorhen__side-panel-resize-button:hover {
    background-color: var(--moorhen-focus);
    box-shadow: 0 0 8px var(--moorhen-focus-shadow);
}
