/* General styles for the input */
.form-control.precise-input {
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0; 
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    width: 100%; /* Ensure the input fits its container */
    border: 1px solid #ced4da; /* Default border */
}

.precise-input:focus {
    outline: none; 
    box-shadow: none; 
    border-color: red;
}

.precise-input.valid {
    border-color: #ced4da;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgb(128, 141, 153);
}

.precise-input.invalid {
    border-color: red;
    border-bottom: 1px solid red;
}

.precise-input.invalid:focus {
    border-color: red; 
    border-bottom: 1px solid red;
}

.precise-input.disabled {
    color: grey;
}