@import "../../colors.css";
/* General styles for the inputs */
.moorhen__input,
.moorhen__input-files-upload,
.moorhen__input-fetch-online-container {
    display: block;
    width: auto;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 2rem;
    color: var(--moorhen-primary);
    background-color: var(--moorhen-input-background);
    border: 1px solid var(--moorhen-border);
    border-radius: 0.375rem;
    transition:
        border-color 0.25s ease-in-out,
        box-shadow 0.25s ease-in-out;
    box-sizing: border-box;
    margin-left: 0;
}

.moorhen__input:focus {
    color: var(--moorhen-input-color);
    background-color: var(--moorhen-input-background);
    border-color: var(--moorhen-focus);
    outline: 0;
    box-shadow: var(--moorhen-shadow-focus-style);
}

.moorhen__input.invalid {
    border-color: var(--moorhen-error) !important;
    border-top: 1px solid var(--moorhen-error) !important;
    border-left: 1px solid var(--moorhen-error) !important;
    border-bottom: 1px solid var(--moorhen-error) !important;
    box-shadow: 2px 2px 4px 1px var(--moorhen-error-shadow) !important;
}

.moorhen__input.disabled {
    color: var(--moorhen-disabled);
}

.moorhen__input__label,
.moorhen__input__label-menu {
    display: inline-block;
    white-space: nowrap;
    width: auto !important;
    color: var(--moorhen-primary);
    padding-right: 0rem;
    margin-right: 0rem;
}

.moorhen__input__label-menu {
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.25rem;
}

.moorhen__input-files-upload:hover,
.moorhen__input-fetch-online-container:hover {
    border-color: var(--moorhen-focus);
    box-shadow: var(--moorhen-shadow-focus-style);
}

.moorhen__input-files-upload.disabled {
    background-color: var(--moorhen-disabled);
    border-color: var(--moorhen-disabled);
    color: var(--moorhen-disabled);
}

.moorhen__label__row,
.moorhen__label__column {
    display: flex;
    align-items: center;
}
.moorhen__label__row {
    flex-direction: row;
}
.moorhen__label__column {
    flex-direction: column;
}

.moorhen__input-fetch-online-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.8rem;
    width: 26rem;
    height: 2.5rem;
    border: 1px solid var(--moorhen-border);
    border-radius: 0.5rem;
    padding: 0;
}

.moorhen__input-fetch-online-text-input {
    width: 100%;
    border: none;
}

.moorhen__input-fetch-online-text-input:focus {
    border: none;
    outline: none;
}

.moorhen__input-fetch-online-button {
    height: 100%;
    margin: 0;
    border-radius: 0 0.375rem 0.375rem 0;
    border: none;
    box-shadow: none;
}

.moorhen__input-fetch-online-select {
    border: none;
    border-right: 1px solid var(--moorhen-border);
    border-radius: 0.375rem 0 0 0.375rem;
    background-color: var(--moorhen-button-background);
    color: var(--moorhen-secondary);
    padding-left: 0.4rem;
    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

.moorhen__input-fetch-online-select:hover {
    transform: scale(1.05);
}

.moorhen__input-fetch-online-select option {
    padding: 1rem; /* Adds spacing inside the options */
    font-size: 1rem;
}

.moorhen__input-text-box {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid var(--moorhen-border);
    padding-left: 0.5rem;
    margin-left: 0.2rem;
}

.moorhen__input-text-box-wbutton {
    box-sizing: border-box;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid var(--moorhen-border);
    padding-left: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0;
    height: 2.2rem;
}

.moorhen__input-text-box-button {
    margin-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
