
.container {
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-rows: 0.2fr 1fr;
    margin-bottom: 0.5rem;

}

.label {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.leftPanel {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: top;
}

.rightPanel {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    align-self: top;
}

.sliderCont {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    width: 90%
}

.minMaxVal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -0.4rem;
    font-size: 0.8rem;
    width: 100%;
    height: 0.2rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent; 
}

.container.column {
    flex-direction: column;
}
